<div class="card" style="width: 100%;">
    <div class="card-body" id="cardHead">
        <h3 class="card-title font-weight-bold">Add New Bill</h3>
        <div class="container">
            <form action="/BillManagment/formTest" id="demo-form">
                <div class="row">
                    <div class="col-sm-6 bg-success">
                        <h3 class="text-lg-left">Vendor name</h3>
                        <p class="pull-left">Bill Price</p>
                    </div>
                    <div class="col-sm-6 bg-warning">
                        <h3 class="text-lg-right">Bill 12</h3>
                        <p class="pull-right">Bill date 12/12/2020</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm bg-warning col-md">
                        <table class="table" id="tableID">
                            <thead>
                                <tr>
                                    <th scope="col">Item name</th>
                                    <th scope="col">Item price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="num1" scope="row">1</th>
                                    <td class="pri1">
                                        <input type="text" name="itemPrice"  />
                                    </td>
                                    <td class="qua1">Otto</td>
                                    <td class="tot1">Otto</td>
                                </tr>
                                <tr>
                                    <th class="num2" scope="row">2</th>
                                    <td class="pri2">
                                        <input type="text" name="itemPrice" />
                                    </td>
                                    <td class="qua2">Thornton</td>
                                    <td class="tot2">
                                        <input type="text" name="total" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>
                                        <input name="itemPrice" type="text" />
                                    </td>
                                    <td >
                                        <input type="text" name="total" />
                                    </td>
                                    <td><span onclick="editeItemRow(4)">click</span></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm"></div>
                    <div class="col-sm"></div>
                    <div class="col-sm"></div>
                    <div class="col-sm">Total: 10000</div>
                </div>
                <button type="submit" id="testSubmit" >submit</button>
            </form>
        </div>

    </div>
</div>
<script>

    function doTheInsert() {
        var newRow = document.getElementById('myTable').insertRow();
        newRow.innerHTML = "<td>New row text</td><td>New row 2nd cell</td>";
    }

    $("#testSubmit").click(function (e) {
        debugger
        e.preventDefault();
        var data = [];
        var name;


        $("#tableID tbody tr").each(function (index) {
            let obj = {};
            $.each(this.cells, function (cellIndex, cell) {
                debugger
                switch (cellIndex) {
                    case 0:
                        obj.itemCode = cell.textContent;
                        break;
                    case 1:
                        obj.itemPrice = $(this).find("input[type='text']").val();
                        break;
                    case 2:
                        obj.Quantity = cell.textContent;
                        break;
                    case 3:
                        obj.Total = cell.textContent;
                        break;
                }
            });
            data.push(obj);
            console.log(data)
        });
        $.ajax({
            url: '/BillManagment/formTest',
            type: "Post",
            data: { model: data },
            success: function (data) {

            }
        });
    });

    function editeItemRow(id) {

        Swal.fire({
            title: '<strong>Edit Item</u></strong>',
            icon: 'info',
            html:
                `   <div class="panel panel-primary setup-content" id="step-2">
                    <div class="panel-heading">
                        <h3 class="panel-title">Bill Details</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label class="control-label">Bill Code</label>
                                    <input maxlength="100" disabled type="text" required="required" id="billCode" class="form-control" value="" />
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="items">Choose an item:</label>
                                    <select id="items" class="form-control">
                                    </select>
                                    <span class="hide text-danger" id="items_span">Please select the item</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label class="control-label">Item Price</label>
                                    <input maxlength="100" disabled type="text" required="required" class="form-control" id="itemPrice" value="" />
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label class="control-label">Item Quantity</label>
                                    <input maxlength="100" type="number" required="required" id="itemQuantity" class="form-control" value="" />
                                    <span class="hide text-danger" id="itemQuantity_span">Please enter the item quantity </span>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-success pull-right" id="finish">Finish</button>
                        <button class="btn btn-primary pull-right" onclick="TestItem()" id="addItem">Add Item</button>
                    </div>
                </div>`,
            showCloseButton: true,
            showCancelButton: true,
            focusConfirm: false,
            confirmButtonText:
                '<i class="fa fa-thumbs-up"></i> Great!',
            confirmButtonAriaLabel: 'Thumbs up, great!',
            cancelButtonText:
                '<i class="fa fa-thumbs-down"></i>',
            cancelButtonAriaLabel: 'Thumbs down'
        })
    }

    function TestItem() {
        Swal.fire(
            'Good job!',
            'You clicked the button!',
            'success'
        )
    }

    function submitFormData(formData) {
        ///BillManagment/formTest
        $.ajax({
            url: '/BillManagment/formTest',
            type: "Post",
            data: { model: formData },
            success: function (data) {

            }
        });
    }

</script>